// $screen: tên màn hình
@mixin responsive($screen) {
    @if (map-has-key($map: $breakpoints, $key: $screen)) {
        // nếu tìm thấy màn hình
        // map-get: lấy giá trị màn hình
        // value chua ket qua lay duoc
        $value: map-get(
            $map: $breakpoints,
            $key: $screen,
        );
        @media screen and (max-width: $value) {
            @content;
        }
    } @else {
        @warn "Màn hình không tồn tại";
    }
}
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }
    @-moz-keyframes #{$animation-name} {
      @content;
    }  
    @-ms-keyframes #{$animation-name} {
      @content;
    }
    @-o-keyframes #{$animation-name} {
      @content;
    }  
    @keyframes #{$animation-name} {
      @content;
    }
  }
  